
.button {
    border-radius: 16px;
    padding: 16px 125px;
    display: inline-block;
    color: #F5EBEB;
    background-color: #A93B59;
    font-weight: 700;
    font-size: 16px;
    line-height: 1.88;
    text-align: center;
    cursor: pointer;
    text-transform: uppercase;
    border: 1px solid rgba(0,0,0,0);
    margin-left: 110px;
}