.filter_container {
  width: 900px;

  margin: 0 auto;
  margin-top: 70px;
  margin-bottom: 50px;
}

.formSearch {
  display: flex;
}

.input {
  width: 100%;
  background-color: white;
  border-top-left-radius: 10px;
  border-bottom-left-radius: 10px;
  border-top-right-radius: 0;
  border-bottom-right-radius: 0;
  padding: 15px 15px 15px;
  color: black;
  margin: 0;
  border: 0;
  outline: none;
  
}

.formBtn {
  padding: 12px 28px;
  background-color: var(--btn-color);
  color: var(--footer-text-color);
  border-top-right-radius: 10px;
  border-bottom-right-radius: 10px;
  font-weight: 700;
  font-size: 16px;
  line-height: 1.88;
  text-align: center;
  cursor: pointer;
  border: 1px solid #A93B59;
}


