


.avatar {
    display: block;
  max-width: 100%;
  height: auto;
  padding: 15px 15px 0 15px;
}

.descr {
    width: 1000px;
}

.title {
    font-size: 32px;
    font-weight: 400;
    color: var(--description-text-color);
    margin-bottom: 16px;
    text-align: center;
}

.text {
    font-size: 20px;
    font-weight: 300;
  
    color: var(--description-text-color);
  }

