.title {
    
    color: #A93B59;
    font-size: 48px;
    line-height: 1.25;
    font-weight: 700;
    font-style: italic;

    margin-bottom: 42px;
}

.span {
    
    color: #F5EBEB;
    font-size: 96px;
    margin-left: 110px;
    text-transform: uppercase;
    // font-family: 'Arial', 'Helvetica';
}

