.title {
    
    color: #A93B59;

    // font-family: var(--font-title);
    font-size: 48px;
    line-height: 1.25;
    font-weight: 500;
    // font-style: italic;

    margin-bottom: 42px;
}

.span {
    
    color: #F5EBEB;
    font-size: 86px;
    margin-left: 80px;
    font-weight: 400;
    line-height: 0.69;
    text-transform: uppercase;
    // font-family: 'Arial', 'Helvetica';
}

