:root {
  --header-text-color: #F5EBEB;
  --footer-text-color: #fff;
  --title-text-color: #A93B59;
  --description-text-color: #fff;
  --menu-filter-color: #FFFFFF;
  --btn-all-color: #fff;
  --name-text-color: #000;
  --footer-bg-color:#000;
  // --secondary-bg-color: #F5F4FA;
  // --item-br-color: #EEEEEE;
  --btn-color: #A93B59;
  --btn-hover-color: #6d2639;
  // --icon-bg-features-color: #F5F4FA;
  // --icon-fill: #AFB1B8;
  // --icon-hover: #FFFFFF;
  // --overlay-color: rgba(0, 0, 0, 0.2`
  --font-body: 'Source Sans Pro', sans-serif;
  --font-title: 'Playfair Display';
}

#root {
  display: flex;
  flex-direction: column;
  min-height: 100vh;
  background-color: #000;
}

* {
  box-sizing: border-box;
  margin: 0; padding: 0;
}

body {
  letter-spacing: 0.03em;
  font-family: var(--font-body)
}

.container {
  margin: 0 auto;
  padding: 0 65px;
}

.hero {
  background-image: url('./images/Hero.jpeg');
  background-repeat: no-repeat;
  background-size: contain;
  background-position: right;
  padding-top: 44px;
}

.card {
  display: flex;
  gap: 20px;
}

h1, h2, h3 {
  margin: 0;
}

a {
  text-decoration: none;
}

ul {
  list-style: none;
  margin: 0;
  padding: 0;
}

.description {
  margin-left: auto;
}

p {
  margin: 0;
}

.footer {
  display: flex;
    flex-wrap: wrap;
    align-items: flex-start;
    justify-content: center;
    margin-top: auto;
    padding-top: 45px;
    padding-bottom: 45px;
    background-color: black;
}